<form #myForm="ngForm" (ngSubmit)="save(myForm)">

  <input type="text" name="name" [(ngModel)]="car.model" >
  <input type="number" name="name" [(ngModel)]="car.price">
  <button>save</button>

</form>

<hr>

<div *ngFor="let car of cars">
  id -{{car.id}} model- {{car.model}} price- {{car.price}} <button (click)="find(car.id)">Find</button>
</div>

<hr>
<div *ngIf="oneCar.model!=''">{{oneCar.model}}-{{oneCar.price}}</div>

<hr>

<select #selected>
   <option *ngFor="let car of cars" [value]="car.id">
    id- {{car.id}} model- {{car.model}} price- {{car.price}}
   </option>
</select>
<button (click)="delete(selected.value)">Delete</button>
